(
    menu_keyboard: [
        (Confirm, Enter),
        (Back, Escape),
        (JoinKeyboard, Enter),
        (Reset, KeyR),
        (ExitPauseMenu, Escape),
        (PauseGame, Escape),
        (NavigateUpKeyboard, KeyW),
        (NavigateDownKeyboard, KeyS),
        (NavigateLeftKeyboard, KeyA),
        (NavigateRightKeyboard, KeyD),
        (NavigateUpKeyboard, ArrowUp),
        (NavigateDownKeyboard, ArrowDown),
        (NavigateLeftKeyboard, ArrowLeft),
        (NavigateRightKeyboard, ArrowRight),
    ],
    menu_gamepad: [
        (NavigateUpGamepad, DPadUp),
        (NavigateDownGamepad, DPadDown),
        (NavigateLeftGamepad, DPadLeft),
        (NavigateRightGamepad, DPadRight),
        (JoinGamepad, South),
        (Back, East),
        (Confirm, South),
        (Reset, East),
        (ExitPauseMenu, Start),
        (PauseGame, Start),
    ],
    player_keyboard: [
        (MoveUp, KeyW),
        (MoveDown, KeyS),
        (MoveLeft, KeyA),
        (MoveRight, KeyD),
        (SlotOneAbility, Space),
        (SlotTwoAbility, ShiftLeft),
    ],
    player_mouse: [
        (SlotOneAbility, Left),
        (SlotTwoAbility, Right),
    ],
    player_gamepad: [
        (MoveUp, DPadUp),
        (MoveDown, DPadDown),
        (MoveLeft, DPadLeft),
        (MoveRight, DPadRight),
        (SlotOneAbility, RightTrigger),
        (SlotTwoAbility, LeftTrigger),
    ],
)
