({
    "item_placeholder.layout": TextureAtlasLayout (
        tile_size_x: 15.,
        tile_size_y: 15.,
        columns: 1,
        rows: 1,
    ),
    "item_placeholder.file": File (
        path: "texture/item_placeholder.png"
    ),
})

