({
    "crustling.head": TextureAtlas (
        path: "texture/crustling_spritesheet.png",
        tile_size_x: 38.,
        tile_size_y: 29.,
        columns: 3,
        rows: 1,
    ),
    "crustling.tentacle1": TextureAtlas (
        path: "texture/crustling_tentacle_1.png",
        tile_size_x: 10.,
        tile_size_y: 30.,
        columns: 1,
        rows: 1,
    ),
    "crustling.tentacle2": TextureAtlas (
        path: "texture/crustling_tentacle_2.png",
        tile_size_x: 10.,
        tile_size_y: 30.,
        columns: 1,
        rows: 1,
    ),
    "crustling.tentacle3": TextureAtlas (
        path: "texture/crustling_tentacle_3.png",
        tile_size_x: 10.,
        tile_size_y: 30.,
        columns: 1,
        rows: 1,
    ),
    "drone": TextureAtlas (
        path: "texture/drone_spritesheet.png",
        tile_size_x: 20.,
        tile_size_y: 20.,
        columns: 3,
        rows: 1,
    ),
    "drone.thruster": TextureAtlas (
        path: "texture/drone_thrusters_spritesheet.png",
        tile_size_x: 14.,
        tile_size_y: 10.,
        columns: 3,
        rows: 1,
    ),
    "pawn": TextureAtlas (
        path: "texture/pawn_spritesheet.png",
        tile_size_x: 20.,
        tile_size_y: 20.,
        columns: 3,
        rows: 1,
    ),
    "pawn.thruster": TextureAtlas (
        path: "texture/pawn_thrusters_spritesheet.png",
        tile_size_x: 14.,
        tile_size_y: 10.,
        columns: 3,
        rows: 1,
    ),
    "shelly": TextureAtlas (
        path: "texture/shelly_spritesheet.png",
        tile_size_x: 24.,
        tile_size_y: 25.,
        columns: 3,
        rows: 1,
    ),
    "hauler.front": TextureAtlas (
        path: "texture/hauler_front.png",
        tile_size_x: 18.,
        tile_size_y: 15.,
        columns: 1,
        rows: 1,
    ),
    "hauler.back": TextureAtlas (
        path: "texture/hauler_back.png",
        tile_size_x: 18.,
        tile_size_y: 24.,
        columns: 1,
        rows: 1,
    ),
    "hauler.middle": TextureAtlas (
        path: "texture/hauler_middle.png",
        tile_size_x: 18.,
        tile_size_y: 26.,
        columns: 1,
        rows: 1,
    ),
    "hauler.thruster": TextureAtlas (
        path: "texture/hauler_thrusters_spritesheet.png",
        tile_size_x: 20.,
        tile_size_y: 9.,
        columns: 3,
        rows: 1,
    ),
    "missile_launcher": TextureAtlas (
        path: "texture/missile_launcher_spritesheet.png",
        tile_size_x: 23.,
        tile_size_y: 28.,
        columns: 3,
        rows: 1,
    ),
    "missile_launcher.thruster": TextureAtlas (
        path: "texture/missile_launcher_thrusters_spritesheet.png",
        tile_size_x: 17.,
        tile_size_y: 7.,
        columns: 3,
        rows: 1,
    ),
    "missile": TextureAtlas (
        path: "texture/missile_spritesheet.png",
        tile_size_x: 11.,
        tile_size_y: 20.,
        columns: 4,
        rows: 1,
    ),
    "missile.thruster": TextureAtlas (
        path: "texture/missile_thrusters_spritesheet.png",
        tile_size_x: 7.,
        tile_size_y: 7.,
        columns: 4,
        rows: 1,
    ),
    "strafer": TextureAtlas (
        path: "texture/strafer_spritesheet.png",
        tile_size_x: 26.,
        tile_size_y: 14.,
        columns: 3,
        rows: 1,
    ),
    "strafer.thruster": TextureAtlas (
        path: "texture/strafer_thrusters_spritesheet.png",
        tile_size_x: 24.,
        tile_size_y: 11.,
        columns: 3,
        rows: 1,
    ),
    "money_asteroid": TextureAtlas (
        path: "texture/money_asteroid_spritesheet.png",
        tile_size_x: 21.,
        tile_size_y: 21.,
        columns: 1,
        rows: 1,
    ),
    "repeater.head": TextureAtlas (
        path: "texture/repeater_head_spritesheet.png",
        tile_size_x: 68.,
        tile_size_y: 49.,
        columns: 3,
        rows: 1,
    ),
    "repeater.body": TextureAtlas (
        path: "texture/repeater_body_spritesheet.png",
        tile_size_x: 70.,
        tile_size_y: 43.,
        columns: 3,
        rows: 1,
    ),
    "repeater.right_shoulder": TextureAtlas (
        path: "texture/repeater_right_shoulder_spritesheet.png",
        tile_size_x: 58.,
        tile_size_y: 64.,
        columns: 3,
        rows: 1,
    ),
    "repeater.left_shoulder": TextureAtlas (
        path: "texture/repeater_left_shoulder_spritesheet.png",
        tile_size_x: 58.,
        tile_size_y: 64.,
        columns: 3,
        rows: 1,
    ),
    "repeater.right_arm": TextureAtlas (
        path: "texture/repeater_right_arm_spritesheet.png",
        tile_size_x: 41.,
        tile_size_y: 62.,
        columns: 3,
        rows: 1,
    ),
    "repeater.left_arm": TextureAtlas (
        path: "texture/repeater_left_arm_spritesheet.png",
        tile_size_x: 41.,
        tile_size_y: 62.,
        columns: 3,
        rows: 1,
    ),
    "repeater.right_claw": TextureAtlas (
        path: "texture/repeater_right_claw_spritesheet.png",
        tile_size_x: 36.,
        tile_size_y: 35.,
        columns: 3,
        rows: 1,
    ),
    "repeater.left_claw": TextureAtlas (
        path: "texture/repeater_left_claw_spritesheet.png",
        tile_size_x: 36.,
        tile_size_y: 35.,
        columns: 3,
        rows: 1,
    ),
})