({
    "captain": File (
        path: "texture/captain_character.png"
    ),
    "juggernaut": File (
        path: "texture/juggernaut_character.png"
    ),
    "captain_outline": File (
        path: "texture/captain_character_outline.png"
    ),
    "juggernaut_outline": File (
        path: "texture/juggernaut_character_outline.png"
    ),
})