({
    "ally_blast.layout": TextureAtlasLayout (
        tile_size_x: 4.,
        tile_size_y: 4.,
        columns: 1,
        rows: 1,
    ),
    "ally_blast.image": File (
        path: "texture/ally_blast.png"
    ),
    "enemy_blast.layout": TextureAtlasLayout (
        tile_size_x: 4.,
        tile_size_y: 4.,
        columns: 1,
        rows: 1,
    ),
    "enemy_blast.image": File (
        path: "texture/enemy_blast.png"
    ),
    "neutral_blast.layout": TextureAtlasLayout (
        tile_size_x: 4.,
        tile_size_y: 4.,
        columns: 1,
        rows: 1,
    ),
    "neutral_blast.image": File (
        path: "texture/neutral_blast.png"
    ),
    "ally_bullet.layout": TextureAtlasLayout (
        tile_size_x: 5.,
        tile_size_y: 5.,
        columns: 1,
        rows: 1,
    ),
    "ally_bullet.image": File (
        path: "texture/ally_bullet.png"
    ),
    "enemy_bullet.layout": TextureAtlasLayout (
        tile_size_x: 5.,
        tile_size_y: 5.,
        columns: 1,
        rows: 1,
    ),
    "enemy_bullet.image": File (
        path: "texture/enemy_bullet.png"
    ),
})
