({
    "font.lunchds": File( path: "fonts/Lunchds.ttf"),
    "thetawave_logo.layout": TextureAtlasLayout (
        tile_size_x: 1920.,
        tile_size_y: 1080.,
        columns: 4,
        rows: 12,
    ),
    "thetawave_logo.image": File( path: "texture/thetawave_logo_spritesheet.png"),
    "thetawave_menu_button.layout": TextureAtlasLayout (
        tile_size_x: 160.,
        tile_size_y: 34.,
        columns: 1,
        rows: 2,
    ),
    "thetawave_menu_button.image": File( path: "texture/menu_button_spritesheet.png"),
    "ability_icon.mega_blast": File( path: "texture/megablast_ability.png"),
    "ability_icon.charge": File( path: "texture/charge_ability.png"),
    "ability_icon.standard_blast": File( path: "texture/blast_ability.png"),
    "ability_icon.standard_bullet": File ( path: "texture/bullet_ability.png"),
    "ability_slot.left": File ( path: "texture/ability_square_left.png"),
    "ability_slot.right": File ( path: "texture/ability_square_right.png"),
    "warning_gradient": File( path: "texture/warning_gradient.png"),
    "defense_gradient": File( path: "texture/defense_gradient.png"),
    "arrow_right.layout": TextureAtlasLayout (
        tile_size_x: 37.,
        tile_size_y: 16.,
        columns: 1,
        rows: 6,
    ),
    "arrow_right.image": File(path: "texture/arrow_right_spritesheet.png"),
    "arrow_left.layout": TextureAtlasLayout (
        tile_size_x: 37.,
        tile_size_y: 16.,
        columns: 1,
        rows: 6,
    ),
    "arrow_left.image": File(path: "texture/arrow_left_spritesheet.png"),
    "large_menu_button.layout": TextureAtlasLayout (
        tile_size_x: 160.,
        tile_size_y: 77.,
        columns: 1,
        rows: 2,
    ),
    "large_menu_button.image": File(path: "texture/large_menu_button_spritesheet.png"),
    "gamepad_button_a.layout": TextureAtlasLayout (
        tile_size_x: 20.,
        tile_size_y: 25.,
        columns: 1,
        rows: 2,
    ),
    "gamepad_button_a.image": File(path: "texture/gamepad_button_a.png"),
    "keyboard_key_return.layout": TextureAtlasLayout (
        tile_size_x: 34.,
        tile_size_y: 33.,
        columns: 1,
        rows: 2,
    ),
    "keyboard_key_return.image": File(path: "texture/keyboard_key_return.png"),
    "stat_icon.damage": File( path: "texture/damage_icon.png"),
    "stat_icon.health": File( path: "texture/health_icon.png"),
    "stat_icon.size": File( path: "texture/size_icon.png"),
    "stat_icon.range": File( path: "texture/range_icon.png"),
    "stat_icon.fire_rate": File( path: "texture/fire_rate_icon.png"),
    "stat_icon.speed": File( path: "texture/speed_icon.png"),
})