(
    menu_keyboard: [
        (A, ChangeCharacterKeyboard),
        (D, ChangeCharacterKeyboard),
        (Return, Confirm),
        (Escape, Back),
        (ShiftLeft, JoinKeyboard),
        (R, Reset),
        (Escape, ExitPauseMenu),
        (Escape, PauseGame),
    ],
    menu_gamepad: [
        (DPadLeft, ChangeCharacterGamepad),
        (DPadRight, ChangeCharacterGamepad),
        (South, JoinGamepad),
        (East, Back),
        (Start, Confirm),
        (East, Reset),
        (Start, ExitPauseMenu),
        (Start, PauseGame),
    ],
    player_keyboard: [
        (W, MoveUp),
        (S, MoveDown),
        (A, MoveLeft),
        (D, MoveRight),
        (Space, BasicAttack),
        (ShiftLeft, SpecialAttack),
    ],
    player_mouse: [
        (Left, BasicAttack),
        (Right, SpecialAttack),
    ],
    player_gamepad: [
        (DPadUp, MoveUp),
        (DPadDown, MoveDown),
        (DPadLeft, MoveLeft),
        (DPadRight, MoveRight),
        (RightTrigger, BasicAttack),
        (LeftTrigger, SpecialAttack),
    ],
)